<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Теннисный счет</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        input[type="text"], input[type="password"] {
            font-size: 16px;
        }
    </style>
</head>
<body>
<h1>игроки зарегистрированы</h1>
<h1> </h1>
<form action="/tennis/play" method="get">

    <h2>играют: игрок <span th:text="${playerOneName}"> </span> против <span th:text="${playerTwoName}"> </span></h2>
    <input type="hidden" name="p1FN" th:value="${playerOneName}">
    <input type="hidden" name="p1LN" th:value="${playerOneLastName}">
    <input type="hidden" name="p2FN" th:value="${playerTwoName}">
    <input type="hidden" name="p2LN" th:value="${playerTwoLastName}">
    <button type="submit">начать матч</button>
</form>
</body>
</html>
